.success-box{
  width: 680rpx;
  margin:30rpx auto 68rpx auto;
  background: #FFFFFF;
  box-shadow: 0 0 20rpx 0 rgba(113,113,113,0.08);
  border-radius: 12rpx;
}
.success-box-index{
  width: 558rpx;
  margin: auto;
}
.success-head{
  padding: 64rpx 0rpx 50rpx 0rpx;
  border-bottom: 1rpx dashed #979797;
}
.head-title{
  font-size: 42rpx;
  color: #1F1F1F;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 22rpx;
  line-height: 59rpx;
}
.head-tips{
  font-family: PingFangSC-Regular;
  font-size: 28rpx;
  color: #1F1F1F;
  letter-spacing: 0;
  text-align: center;
  line-height: 54rpx;
}
.rules{
  padding: 40rpx 0rpx 70rpx 0rpx;
}
.rules-title{
  font-family: PingFangSC-Semibold;
  font-size: 32rpx;
  color: #1F1F1F;
  letter-spacing: 0;
  margin-bottom: 27rpx;
  line-height: 45rpx;
}
.rules-text{
  font-family: PingFangSC-Regular;
  font-size: 28rpx;
  color: #1F1F1F;
  letter-spacing: 0;
  line-height: 54rpx;
  margin-bottom: 15rpx;
}
.completed-btn{
  background-image: linear-gradient(45deg, #F7941D 15%, #EA6D01 100%);
  box-shadow: 0 14px 14px 0 rgba(95,39,0,0.08);
  border-radius: 49px;
  width: 670rpx;
  height: 98rpx;
  margin: auto;
  font-family: PingFangSC-Regular;
  font-size: 30rpx;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 98rpx;
}